@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --swiper-pagination-bullet-inactive-color: #FFFFFF;
    --swiper-pagination-color: #FFFFFF;
}

body{
    font-family: 'Montserrat', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #000;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}
#webAppHeader{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}
#webAppHeader nav{
  background-color: transparent;
}
#webAppHeader nav a{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-decoration: none;
}
#webAppHeader nav a p{
    font-size: 13px;
    letter-spacing: 1.42px;
    line-height: 1.07;
    text-transform: uppercase;
}
#webAppHeader nav a span{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
#webAppHeader nav a span img{
    width: 20px;
    height: 20px;
    fill: rgb(249, 249, 249);
}
.cabecera .swiper-pagination{
    text-align: right;
}
.categoryBtn{
    margin: 20px 0px 0px 20px;
    flex: 0 0 auto;
    width: calc(16.6667% - 20px);
}
.categoryBtn:first-child{
    margin-left: 0;
}
.categoryBtn:hover video{
    opacity: 1;
}
.categoryBtn:hover{
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
}
.categoryBtn--wrapper{
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    width: 100%;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
    border-radius: 10px;
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 4px;
    padding-top: 56.25%;
}
.categoryBtn img{
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.categoryBtn video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
}


.image-container{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 4px;
    padding-top: 56.25%;
    height: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.image-container img{
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    transition: opacity 500ms ease-in-out 0s;
    width: 100%;
}

.cardItem a:after{
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, 0);
    inset: 0px;
    content: "";
    position: absolute;
    transition: border 300ms ease-out 0s;
}
.cardItem a{
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    transform: scale(1, 1) translateZ(0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}
.cardItem a:hover{
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
}
.cardItem a:hover:after{
    border: 4px solid rgba(249, 249, 249, 0.8);
}
.cardItem--hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all .3s ease;
}
.cardItem--hover .cardItem--title{
    transform: translateY(-100%);
    opacity: 0;
    transition: all .3s .3s ease;
}
.cardItem a:hover .cardItem--hover{
    opacity: 1;
}
.cardItem a:hover .cardItem--hover .cardItem--title{
    opacity: 1;
    transform: translateY(0%);
}
.singleDetail{
    position: relative;
}
.singleDetail--header{

}
.singleDetail--header-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100svh;
    height: 100%;
}
.singleDetail--header-bg img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.singleDetail--header-cover{
    background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
    position: absolute;
    inset: 0px;
}

.cardItem.acts .image-container{
    padding-top: 125%;
}
.cabecera .image-container{
    padding-top: 42%;
}
.swiper, swiper-container{
    overflow: visible;
}
swiper-container .cardItem.movie h3{
    font-size: 16px;
    line-height: 22px;
}

.cabecera swiper-container .cardItem.movie h3{
    font-size: 36px;
    line-height: 46px;
    max-width: 350px;
}
.cabecera swiper-container  .cardItem--hover{
    padding: 35px;
}